<section class="info_section long_section">


    <div class="info_top ">


        <!-- FOOTER -->
            <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-5 border-top mt-auto">

                <div class="col-md-4 text-center my-auto">
                    <span style="color: white;">{{ pimcore_input('copyright') }}</span>
                </div>

                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <div class="info_form">

                        <h4>
                            SIGN UP TO OUR NEWSLETTER
                        </h4>
                        <form action="">
                            <input type="text" placeholder="Enter Your Email" />
                            <button type="submit">
                                Subscribe
                            </button>
                        </form>

                        <div class="social_box">
                            {% for i in pimcore_block('socials').iterator %}
                                {% if editmode %}
                                    {{ pimcore_link('socialUrl') }}
                                {% else %}
                                    {% set socialUrl = pimcore_link('socialUrl') %}
                                    <a href="{{ socialUrl.getHref() }}" class="{{ socialUrl.getclass() }}">
                                        {{ socialUrl.getText() | raw }}
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </ul>
            </footer>

        <!-- FOOTER END -->

    </div>

</section>