<header id="header" class="full-header no-sticky" data-menu-padding="30">
    {% if not editmode %}
        {% set navStartNode = document.getProperty('navigation_root') %}
        {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
            {% if pimcore_site_is_request() %}
                {% set site = pimcore_site_current() %}
                {% set navStartNode = site.getRootDocument() %}
            {% else %}
                {% set navStartNode = pimcore_document(1) %}
            {% endif %}
        {% endif %}

        <div id="header-wrap">
            <div class="container">
                <div class="header-row align-items-lg-stretch">

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="{{ navStartNode }}" class="standard-logo"><img src="static/demos/ecommerce/images/logo.png" alt="Canvas Logo"></a>
                        <a href="{{ navStartNode }}" class="retina-logo"><img src="static/demos/ecommerce/images/logo@2x.png" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->

                    <div class="header-misc align-items-lg-stretch">


                        <!-- Top Search
                        ============================================= -->
                        <div id="top-search" class="header-misc-icon">
                            <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
                        </div><!-- #top-search end -->

                    </div>

                    <div id="primary-menu-trigger">
                        <svg class="svg-trigger" viewBox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                    </div>

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav class="primary-menu style-ecommerce menu-spacing-margin">

                        {% set mainNavigation = pimcore_build_nav({active: document, root: navStartNode}) %}
                        {% set menuRenderer = pimcore_nav_renderer('menu') %}
                            <ul class="menu-container">
                                <li class="menu-item current">
                                    <a class="menu-link {{ document.id == navStartNode.id ? 'active' }}"
                                       href="{{ navStartNode }}">{{ navStartNode.title }}
                                    </a>
                                </li>

                            {% for page in mainNavigation %}
                                {% if page.isVisible() and menuRenderer.accept(page) %}
                                    {% set hasChildren = page.hasPages() %}

                                    {% if not hasChildren %}
                                        <li class="menu-item current">
                                            <a class="menu-link {{ document.id == page.id ? 'active' }}"
                                               href="{{ page.getHref() }}">
                                                {{ page.getLabel()|trans }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="menu-item-dropdown">
                                            <a class="menu-link dropdown-toggle {{ document.id == page.id ? 'active' }}"
                                               href="{{ page.getHref() }}" aria-expanded="false"
                                               id="navbarDropdown_{{ page.id }}" role="button"
                                               data-bs-toggle="dropdown" aria-haspopup="true">
                                                {{ page.getLabel()|trans }}
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown_{{ page.id }}">
                                                {% for child in page.getPages() %}
                                                    {% if child.isVisible() and menuRenderer.accept(page) %}
                                                        <li><a class="dropdown-item" href="{{ child.getHref() }}">{{ child.getLabel()|trans }}</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>

                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                    </nav><!-- #primary-menu end -->
                    {% endif %}

                    <form class="top-search-form" action="static/search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                    </form>

                </div>
            </div>
        </div>
        <div class="header-wrap-clone"></div>
    </header><!-- #header end -->