{% extends 'layouts/layout.html.twig' %}

{% block content %}

    <!-- BLOG SINGLE START -->
    <div class="container">
        <div class="row g-5 mt-3">
            <div class="col-md-8">
                <article class="blog-post">
                    <h2 class="blog-post-title">{{ blogpost.title is defined ? blogpost.title : '' }}</h2>
                    <p class="blog-post-meta">
                        {{ blogpost.date is defined ? blogpost.date : '' }}
                        by <b>{{ blogpost.postedBy is defined ? blogpost.postedBy : ''}}</b>
                    </p>

                    <p>{{ blogpost.shortDescription is defined ? blogpost.shortDescription : '' }}</p>
                    <hr>
                    {{ (blogpost.content is defined ? blogpost.content : '') | raw }}
                </article>
                <div class="row">
                    <div class="col-md-12">
                        <span class="pe-2">Tags:</span>

                        {% if blogpost.tags is defined and (blogpost.tags | length > 0) %}
                            {% for tag in blogpost.tags %}
                                <a href="{{ pimcore_url({query: tag.name}, 'Blogger') }}">
                                    <span class="badge bg-secondary">{{ tag.name is defined ? tag.name : '' }}</span>
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    {% if blogpost.about is defined and blogpost.about is not null %}
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">About</h4>
                            <p class="mb-0">{{ blogpost.about }}</p>
                        </div>
                    {% endif %}

                    {% if blogpost.ad is defined and blogpost.ad is not null %}
                        <div class="mb-3 bg-light rounded">
                            {{ blogpost.ad | raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if blogpost.relatedBlogPosts is defined and (blogpost.relatedBlogPosts | length > 0) %}
        <!-- BLOG CARDS START -->
        <div class="container">
            <div class="row">
                <div class="col-12 p-3">
                    <hr>
                    <h3>Related posts</h3>
                </div>
                {% include 'areas/latest-blog-posts/view.html.twig' with { blogpost: blogpost.relatedBlogPosts} %}
            </div>
        </div>
        <!-- BLOG CARDS END -->
    {% endif %}

{% endblock %}