{% extends 'layouts/layout.html.twig' %}

{% block content %}

    <section class="blog_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Latest Blog
                </h2>
            </div>

            <div>
                <form>
                    <fieldset>
                        <legend><h2>Filters</h2></legend>
                        <div class="mb-3">
                            <label for="categories" class="form-label">Select categories</label>
                            <select id="categories" class="form-select categories-select" name="categories[]" multiple>
                                {% for blog_post_category in blog_post_categories %}
                                    <option {{ blog_post_category.id in app.request.get('categories', []) ? 'selected' : '' }}
                                        value="{{ blog_post_category.id }}">
                                        {{ blog_post_category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </fieldset>
                </form>
            </div>
<br>
            <div class="row">
                {% for post in blogpost %}
                    <div class="col-md-6 col-lg-4 mx-auto">
                        <div class="box">
                            {% set detailLink = app_news_detaillink(post) %}
                            <div class="img-box">
                                <img src="{{ post.image }}" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    {{ post.title }}
                                </h5>
                                <p>
                                    {{ post.shortDescription }}
                                </p>
                                <a href="{{ detailLink }}">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="pt-5">

                {% include 'includes/pagination.html.twig' %}

            </div>
        </div>
    </section>

{% endblock %}